@charset "utf-8";

#q2,
#q3,
#q4,
#content2,
#content3,
#result1,
#result2,
#result3
{
  display: none;
}

body
{
  font-family: 'Ubuntu', sans-serif;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.header
{
  padding: 10px;

  background: url('../images/logo.png') #656565 no-repeat 10px center;
  background-size: 22px 22px;
}
h1 {
    font-size: 1.0em;
    color: #ff0000;
}

.header p
{
  margin: 0 0 0 32px;
  padding: 0;

  color: #fff;
}

hr
{
  color: #a8a7a7;
}

.header span
{
  color: #d7d7d7;
}

.content
{
  max-width: 1000px;
  padding: 0px 0px;

  text-align: center;
}

.dt
{
  font-size: 14px;

  text-align: right;

  color: #575555;
}
.main-content1
{
  padding: 52px;

  text-align: center;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
}

.main-content
{
  padding: 62px;

  text-align: center;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
}

.main-content h1
{
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  font-weight: lighter;

  margin: 0;
}

.main-content h2
{
  font-size: 18px;
  font-weight: normal;
}

.main-content p
{
  font-size: 16px;
}

.main-content span
{
  color: #f00;
}

p.question
{
  font-size: 20px;
}

.button
{
  font-size: 20px;

  margin: 8px 0;
  padding: 10px;

  cursor: pointer;
  text-align: center;

  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(#319fd6, #087eba);
  background:      -o-linear-gradient(#319fd6, #087eba);
  background:    -moz-linear-gradient(#319fd6, #087eba);
  background:         linear-gradient(#319fd6, #087eba);
}

.loading
{
  text-align: center;
}

.result
{
  font-size: 16px;
  font-weight: normal;

  margin: 0;
  padding: 5px 0 5px 25px;

  background: url('../images/tick.png') no-repeat left center;
  background-size: 20px 20px;
}

.button2
{
  font-size: 25px;

  padding: 20px;

  text-align: center;

  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: -webkit-linear-gradient(#127fd2, #33a7e8);
  background:      -o-linear-gradient(#127fd2, #33a7e8);
  background:    -moz-linear-gradient(#127fd2, #33a7e8);
  background:         linear-gradient(#127fd2, #33a7e8);
}

a.claim
{
  text-decoration: none;

  color: #fff;
}

.profile
{
  float: left;

  width: 60px;
  margin-right: 10px;

  cursor: pointer;
}

.profile img,
.comment-content img
{
  width: 100%;
}

.comment-content
{
  float: left;

  width: 210px;
}

.name
{
  font-weight: bold;

  margin: 0;

  cursor: pointer;

  color: #3b5998;
}
.clr
{
  clear: both;
}

.comment-status
{
  font-size: 11px;

  cursor: pointer;
}

.comment-status span
{
  color: #3b5998;
}